* {
    margin: 0; padding: 0;
  }

html, body{
    font-weight: 600;
    /* font-family: 'proxima-nova-condensed', Helvetica; */
    font-family: 'Reenie Beanie', cursive;
    color: #fff;
    font-size: large;
    /* width: 100%;
    height: 100%; */
    /* overflow: hidden; */


    /* font-family: 'Reenie Beanie', cursive;
    font-size: large; */
    /* background-image: url('../images/NotebookPaperOnDeskBG.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;          */
}

input[type="text"]{
    border: 2px solid rgba(255,255,255,0.20);
      border-radius: 61px;
      font-size: 12px;
      color: #FFFFFF;
      letter-spacing: 1px;
      text-decoration: none;
      text-transform: uppercase;
      padding: 10px 25px;
      display: inline-block;
      margin-right: 15px;
      opacity: 50%;
}

::placeholder{
    color: purple;
    font-weight: bold;
}

#container {
    overflow: hidden;
    position: absolute;
    top: 0; left: 0; right: 0; bottom: 0;
  }

#background_video {
    position: absolute;

    top: 50%; left: 50%;
    transform: translate(-50%, -50%);

    object-fit: cover;
    height: 100%; width: 100%;
  }

  #video_cover {
    position: absolute;

    width: 100%; height: 100%;

    background: url('images/video_cover.jpeg') no-repeat;
    background-size: cover;
    background-position: center;
  }

  #video_controls {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
  }

  #play img {
    width: 100px;
  }
  #pause img {
    width: 90px;
  }
  #pause {
    display: none;
  }

  @media (min-width: 768px) {
    #video_controls {
      display: none;
    }
  }

  #overlay {
    position: absolute;
    top: 0; right: 0; left: 0; bottom: 0;
    background: rgba(0,0,0,0.5);
  }

  #all-input-items {
    z-index: 2;
    position: relative;
    display: inline-block;

    /* Vertical center */
    top: 50%;
    transform: translateY(-50%);
  }






span{
    color: red;
}

#all-input-items{
    display: flex;
    justify-content: center;
}

#title-container{
    display: inline;
    float: left;
    padding: 5px;
    font-weight: bold;
}

#due-date-container{
    display: inline;
    float: left;
    padding: 5px;
    font-weight: bold;
}

#checkbox-container{
    display: inline;
    float: left;
    padding: 5px;
    font-weight: bold;
}

label{
    font-size: xx-large;
}

h1{
    font-size: 350%;
    font-weight: bold;
    margin-top: 25px;
    margin-bottom: 15px;
}

h2{
    font-size: 200%;
    margin-top: 20px;
    margin-bottom: 10px;
}

h3{
  margin: 0px;
  position:absolute
}

p{
    margin-top: 0px;
    font-size: 25px;
}

h1, h2{
    text-decoration: underline;
    text-align: center;
}

.major-priority{
    color: red;
}

.medium-priority{
    color: orange;
}

.minor-priority{
    color: green;
}

.completed{
    opacity: 50%;
    text-decoration: line-through;
    color: black;
}

#all-items{
    text-align: center;
    font-size: x-large;
}

#add{
    margin-left: 5px;
    font-family: 'Reenie Beanie', cursive;
    font-weight: bold;
    font-size: large;
    border-radius: 5px;
}

